<ion-navbar *navbar class="hide-border">
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-segment [(ngModel)]="segment" (change)="updateSchedule()">
    <ion-segment-button value="all">
      All
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favorites
    </ion-segment-button>
  </ion-segment>

  <ion-buttons end>
    <button (click)="presentFilter()">
      <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-toolbar>
  <ion-searchbar primary
                 [(ngModel)]="queryText"
                 (input)="updateSchedule()"
                 placeholder="Search">
  </ion-searchbar>
</ion-toolbar>

<ion-content class="schedule">
  <ion-list #scheduleList [hidden]="shownSessions === 0">

 

      <ion-item-sliding *ngFor="let special of specials " #slidingItem [attr.track]="special.specialCategory[0] | lowercase" [hidden]="special.hide">

        <button ion-item (click)="goToSessionDetail(special)">
          <h3>{{special.specialName}}</h3>
          <p>
            {{special.specialTime.startTime}} &mdash;
            {{special.specialTime.endTime}}:
            {{special.specialDescription}}
          </p>
        </button>

        <ion-item-options>
          <button favorite (click)="addFavorite(slidingItem, special)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button danger (click)="removeFavorite(slidingItem, special, 'Remove Favorite')" *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>

      </ion-item-sliding>

  

  </ion-list>

 <!-- <ion-list-header [hidden]="specials > 0">
      No Specials Found
  </ion-list-header> -->


</ion-content>
